In [1]:
import numpy as np
import pandas as pd
pd.__version__

'2.2.2'

In [6]:
import urllib.request

url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv"
file_path = "../data/laptops.csv"

urllib.request.urlretrieve(url, file_path)

('data/laptops.csv', <http.client.HTTPMessage at 0x1b8e473e2d0>)

In [7]:
df = pd.read_csv(file_path)

In [8]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [4]:
#2 Record count
df.shape

(2160, 12)

In [12]:
#3 Laptop brands
df.Brand.nunique()

27

In [13]:
#4 Missing values
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [14]:
#5 Maximum final price
dell_laptops = df[df['Brand'] == 'Dell']

max_price = dell_laptops['Final Price'].max()

print(f"The maximum final price of Dell laptops is: {max_price}")

The maximum final price of Dell laptops is: 3936.0

In [15]:
#6 Median value of Screen
df.Screen.median()

15.6

In [16]:
df.Screen = df.Screen.fillna(df.Screen.mode()[0])
median_screen_size = df.Screen.median()
print(f"The median screen size is: {median_screen_size}")

The median screen size is: 15.6

In [17]:
#7 Sum of weights
Innjoo_laptops = df[df['Brand'] == 'Innjoo']

In [18]:
selected_columns = Innjoo_laptops[['RAM', "Storage", "Screen"]]

In [24]:
X = selected_columns.to_numpy()
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)

In [25]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

w = XTX_inv @ X.T @ y

result_sum = np.sum(w)

In [26]:
print(f"The sum of all elements of w is: {result_sum}")

The sum of all elements of w is: 91.2998806299555